<h2>Record</h2>
<mat-divider />
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="speed">
        <mat-header-cell *matHeaderCellDef>Speed</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.speed}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.time | date: 'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vehicleClass">
        <mat-header-cell *matHeaderCellDef>Vehicle Class</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.vehicleClass}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="licensePlate">
        <mat-header-cell *matHeaderCellDef>License Plate</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.licensePlate}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let row; columns: displayedColumns;" />
</mat-table>